/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom color palette */
:root {
  --dark-color: #020210;
  --light-color: #ede5c4;
  --bg-color: #070d4a;
  --accent-color: #e1cf04;
  --gray-color: #607566;
}

/* Commons */
body {
  color: var(--light-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  transition: all 0.3s ease, text 0.4s;
}

input {
  color: var(--accent-color);
  font-size: inherit;
  cursor: caret;
  accent-color: var(--accent-color);
}

input:hover {
  cursor: pointer;
}

/* Header */
header {
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color);
  display: flex;

  h1 {
    color: var(--accent-color);
    padding: 1.5rem;
    text-align: center;
  }

  h2 {
    color: var(--accent-color);
    text-align: right;
    align-self: flex-end;
    padding: 0 1rem 0.5rem 1rem;
  }
}

/* Main */
.outer_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.container {
  font-size: 1.2rem;
  background-color: var(--dark-color);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3.5rem;
  padding: 1rem clamp(1.5rem, 3rem, 5.5rem);
  margin: 1rem;
  max-width: 800px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

div.password_length,
div.repeated_chars,
div.char_type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.5rem 0;
}

div.password_length_span,
div.repeated_chars_options,
div.char_type_options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  padding-top: 1rem;
  gap: 2rem;
  width: 100%;
}

div.password_length_span {
  color: var(--accent-color);
  flex-wrap: nowrap;
  gap: 1rem;
}

div.ruler_slider_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  input[type="range"] {
    width: 100%;
  }

}

div.ruler {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 0.25rem;

  small {
    color: var(--accent-color);
    padding: 0;
  }

}

button {
  appearance: none;
  color: var(--accent-color);
  font-size: inherit;
  font-weight: bold;
  background-color: var(--dark-color);
  border: 1px solid var(--accent-color);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 1.25rem;
  align-self: center;
  /* width: 80%; */
  cursor: pointer;
}

button:hover {
  color: var(--dark-color);
  background-color: var(--accent-color);
}

/* Password */
.password_container {
  text-align: center;
  min-width: 90%;
}

p.password {
  color: var(--dark-color);
  font-size: 2rem;
  letter-spacing: 0.75rem;
  white-space: nowrap;
  font-weight: bold;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.75rem 1rem 1.25rem;
  border: 1px solid var(--dark-color);
  border-radius: 1.5rem;
}

small {
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  padding-right: 0.5rem;

  span {
    font-size: 1rem;
  }
}

#show_length {
  color: var(--accent-color);
  text-align: right;
}